<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>School Inventory</title>
  </head>
  <body>
    <nav class="site-title">
      <div>
        <a href="/"><h1>NWS inventaire</h1></a>
        <p>tout le matériel de l'ecole à petit prix (c'est gratuit)</p>
      </div>
      <ul>
        <li><a href="/"></a></li>
        <li><a href="/about"></a></li>
        <li><a href="/material/create"></a></li>
      </ul>
    </nav>
    <h2>à propos de nous</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ab magnam
      ullam impedit non quod, placeat debitis expedita suscipit culpa adipisci
      esse ut optio? Voluptatum deleniti sapiente ducimus veniam at.
    </p>
  </body>
</html>
