<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>School Inventory</title>
  </head>
  <body>
    <nav class="site-title">
      <div>
        <a href="/"><h1>NWS inventaire</h1></a>
        <p>tout le matériel de l'ecole à petit prix (c'est gratuit)</p>
      </div>
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/about">A propos</a></li>
        <li><a href="/material/create">Ajouter du materiel</a></li>
      </ul>
    </nav>
    <div>
      <form>
        <label for="name">Nom du matériel</label>
        <input type="text" id="name" required />
        <label for="name">Nom du matériel</label>
        <input type="text" id="name" required />
        <label for="name">Nom du matériel</label>
        <input type="text" id="name" required />
      </form>
    </div>
  </body>
</html>
